#WSGIPassAuthorization On
#Options -Indexes +ExecCGI
AddHandler cgi-script .py
DirectoryIndex main.py
#DirectoryIndex main_gsm.py

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.*)$ finman_api/main.py/$1 [L]


#RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]